# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FFXILogParser.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Parsley\git\kparser\.idea\.idea.FFXILogParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
